*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0a0a0a;

    color:white;

    font-family:'Press Start 2P',cursive;

    min-height:100vh;
}

section{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;
}

#gameScreen,
#memoryScreen,
#finalScreen,
#victoryScreen{

    display:none;
}

h1{

    color:#ff3c3c;

    margin-bottom:30px;
}

h2{

    margin-bottom:25px;
}

button{

    padding:15px 25px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    margin-top:25px;

    background:#ff3c3c;

    color:white;

    font-family:'Press Start 2P',cursive;
}

button:hover{

    transform:scale(1.05);
}

#mazeCanvas{

    width:min(90vw,500px);

    height:min(90vw,500px);

    background:black;

    border:4px solid white;

    margin-top:30px;
}

#memoryPhoto{

    width:min(90vw,500px);

    border-radius:15px;

    margin:25px 0;
}

#memoryText{

    max-width:700px;

    line-height:2;
}